<template>
  <div class="about">
    <h1><a href="https://space.bilibili.com/163531251">一键三连</a></h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 3rem
  }
}
</style>
